<h1>Hi from index</h1>
<% @restaurants.each do |restaurant| %>
<h2> <%= link_to restaurant.name, restaurant_path(restaurant.id) %> </h2>
<% end %>

<%= link_to "Create new restaurant", new_restaurant_path, class: 'btn btn-warning'%>
